<!DOCTYPE html>
<!-- Some browsers tend to display a white page before displaying one of our dark pages,
	 which causes annoying "flashes"; setting a background color as early as possible seems to help -->
<html style="background-color: #1d1d1d">
	<head>
		<title>pcjs.org | <!-- pcjs:title("The Original IBM PC In Your Web Browser") --></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<!-- We could set content="width=device-width, initial-scale=1", but that apparently causes problems
			 when rotating to landscape mode; by setting only "initial-scale", the width is apparently inferred -->
		<meta name="viewport" content="initial-scale=1">
		<link rel="apple-touch-icon" sizes="57x57" href="/versions/icons/current/pc-icon-57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/versions/icons/current/pc-icon-72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/versions/icons/current/pc-icon-76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/versions/icons/current/pc-icon-114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/versions/icons/current/pc-icon-120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/versions/icons/current/pc-icon-144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/versions/icons/current/pc-icon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/versions/icons/current/pc-icon-180.png">
		<link rel="apple-touch-icon" sizes="192x192" href="/versions/icons/current/pc-icon-192.png">
		<link rel="apple-touch-icon" href="/versions/icons/current/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/versions/icons/current/pc-icon-192.png">
		<link rel="shortcut icon" type="image/x-icon" href="/versions/icons/current/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/modules/shared/templates/common.css">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline" rel="stylesheet">
		<style type="text/css">
			@font-face {
				font-family: "ATT4425";
				src: url("/modules/shared/templates/ATT4425.ttf") format("truetype");
				/* ATT4425 font created 2017-12-26 by Seth Morabito: https://loomcom.com/retrocomputing/ATT4425.ttf https://twitter.com/twylo/status/945827745417740293 */
			}
		</style>
		<!-- pcjs:sockets -->
	</head>
	<body>
		<!-- Template revision 0039 (increment this number prior to any Git push that should trigger a rebuild of all web pages) -->
		<div class="common">
			<div class="common-top">
				<div class="common-top-left">
					<ul>
						<li><a href="/">PCjs</a></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/apps/">Apps</a></li>
						<li><a href="/devices/">Devices</a></li>
						<li><a href="/disks/">Disks</a></li>
						<li><a href="/pubs/docs/">Docs</a></li>
						<li><a href="/pubs/docs/about/">About</a></li>
					</ul>
				</div>
				<div class="common-top-right">
					<p>Powered by <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>, <a href="http://vanilla-js.com/" target="_blank">Vanilla JS</a>, and <a href="http://github.com/jeffpar/pcjs" target="_blank">GitHub</a></p>
				</div>
			</div>
			<div class="common-middle">
				<h4>Directory of C:\<a href="/">PCJS.ORG</a><!-- pcjs:pcpath --></h4>
				<div class="common-sidebar">
					<!-- pcjs:dirlist -->
					<!-- pcjs:manifest -->
					<!-- pcjs:htmlfileLater("adsense.html") -->
				</div>
				<div class="common-main">
					<!-- pcjs:default("*", "common-image") -->
					<div class="common-bottom">
						<p class="common-reference"><!-- Bottom-left-hand stuff, if there was any, would go here --></p>
						<p class="common-copyright">
							<!-- When using AWS, the pcjs.org domain must redirect to www.pcjs.org, so let's avoid unnecessary redirects in any absolute URLs -->
							<span class="common-copyright"><a href="http://www.pcjs.org/">pcjs.org</a> © 2012-<!-- pcjs:year --> by <a href="http://twitter.com/jeffpar">@jeffpar</a></span><br/>
							<span class="common-copyright"><a href="http://github.com/jeffpar/pcjs">PCjs Project</a> released under <a href="http://gnu.org/licenses/gpl.html">GPLv3</a></span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<script id="randomize" type="text/javascript">
			(function() {
				var p = document.getElementById('random');
				if (p) {
					var mags = ['BYTE-1975-11:98',
								'MSJ-1986-10:34', 	'MSJ-1987-05:90',
								'PCTJ-1983-07:210',	'PCTJ-1983-09:224',	'PCTJ-1983-11:238',
								'PCTJ-1984-01:214',	'PCTJ-1984-02:206',	'PCTJ-1984-03:216',	'PCTJ-1984-04:232',
								'PCTJ-1984-05:234',	'PCTJ-1984-06:230',	'PCTJ-1984-07:210',	'PCTJ-1984-08:214',
								'PCTJ-1984-09:215',	'PCTJ-1984-10:226',	'PCTJ-1984-11:228',	'PCTJ-1984-12:240',
								'PCTJ-1985-01:214',	'PCTJ-1985-02:194',	'PCTJ-1985-03:202',	'PCTJ-1985-04:204',
								'PCTJ-1985-05:244',	'PCTJ-1985-06:216',	'PCTJ-1985-07:184',	'PCTJ-1985-08:200',
								'PCTJ-1985-09:196',	'PCTJ-1985-10:204',	'PCTJ-1985-11:220',	'PCTJ-1985-12:218',
								'PCTJ-1986-01:212',	'PCTJ-1986-02:214',	'PCTJ-1986-03:220',	'PCTJ-1986-04:220',
								'PCTJ-1986-05:222',	'PCTJ-1986-06:222',	'PCTJ-1986-07:198',	'PCTJ-1986-08:212',
								'PCTJ-1986-09:230',	'PCTJ-1986-10:228',	'PCTJ-1986-11:228',	'PCTJ-1986-12:232',
								'PCTJ-1987-01:216',	'PCTJ-1987-02:222',	'PCTJ-1987-03:214',	'PCTJ-1987-04:218',
								'PCTJ-1987-05:240',	'PCTJ-1987-06:236',	'PCTJ-1987-07:230',	'PCTJ-1987-08:250',
								'PCTJ-1987-09:252',	'PCTJ-1987-10:231',	'PCTJ-1987-11:263',	'PCTJ-1987-12:242',
								'PCTJ-1988-01:200',	'PCTJ-1988-02:200',	'PCTJ-1988-03:182',
								'PCTJ-1988-05:196',	'PCTJ-1988-06:180',	'PCTJ-1988-07:164',	'PCTJ-1988-08:166',
								'PCTJ-1988-09:174',	'PCTJ-1988-10:170',	'PCTJ-1988-11:176',	'PCTJ-1988-12:168',
								'PCTJ-1989-04:148'
					];
					var p2 = document.createElement('p');
					p2.appendChild(document.createTextNode('In addition, you see a piece of paper lying on the floor.'));
					var div1 = document.createElement('div'); div1.setAttribute('class', 'common-image-gallery');
					var div2 = document.createElement('div'); div2.setAttribute('class', 'common-image-frame'); div1.appendChild(div2);
					var div3 = document.createElement('div'); div3.setAttribute('class', 'common-image-link'); div2.appendChild(div3);
					var mag = mags[Math.floor(Math.random() * mags.length)];
					var parts = mag.split(':'), issue = parts[0], page = Math.floor(Math.random() * parseInt(parts[1])) + 1;
					parts = mag.split('-');
					var name = parts[0].toLowerCase();
					var a = document.createElement('a'); a.setAttribute('href', '/pubs/pc/magazines/' + name + '/' + issue + '/#page-' + page); div3.appendChild(a);
					var img = document.createElement('img'); img.setAttribute('src', 'http://archive.pcjs.org/pubs/pc/magazines/' + name + '/' + issue + '/thumbs/' + issue + ' ' + page + '.jpeg'); img.setAttribute('width', '200'); a.appendChild(img);
					p.parentNode.insertBefore(p2, p.nextSibling);
					p2.parentNode.insertBefore(div1, p2.nextSibling)
				}
			})();
		</script>
		<!-- pcjs:htmlfile("analytics.html") -->
	</body>
</html>
