<!DOCTYPE html>
<html>
	<!--
	   _____   _____ _
	  |  __ \ / ____(_)
	  | |__) | |     _ ___
	  |  ___/| |    | / __|
	  | |    | |____| \__ \
	  |_|     \_____| |___/
				   _/ |
				  |__/
	  -->
	<head>
		<title>PCjs: <!-- pcjs:title("The Original IBM PC in a Web Browser") --></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<!-- We could set content="width=device-width, initial-scale=1", but that apparently causes problems
			 when rotating to landscape mode; by setting only "initial-scale", the width is apparently inferred -->
		<meta name="viewport" content="initial-scale=1">
		<meta name="description" content="Welcome to PCjs, home of the original IBM PC in a web browser. The PCjs Project offers a variety of computer emulators written in JavaScript, including PCx86 for x86-based machines (8088 through 80386), C1Pjs for the 6502-based Ohio Scientific Challenger 1P, PC8080 for 8080-based machines like Space Invaders and the DEC VT100 Terminal, PDPjs with support for PDP-10 and PDP-11 machines, and emulators of classic programmable calculators, like the TI-57.  PCjs also provides an archive of selected historical PC software, publications, and reference materials.">
		<meta name="apple-mobile-web-app-title" content="PCjs">
		<meta property="og:image" content="/versions/images/current/home-page.png">
		<meta property="og:title" content="The Original IBM PC in a Web Browser">
		<link rel="apple-touch-icon" sizes="180x180" href="/versions/icons/2018/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/versions/icons/2018/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/versions/icons/2018/favicon-16x16.png">
		<link rel="shortcut icon" href="/versions/icons/2018/favicon.ico">
		<link rel="mask-icon" href="/versions/icons/2018/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" type="text/css" href="/modules/shared/templates/common.css">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i" rel="stylesheet">
		<style type="text/css">
			@font-face {
				font-family: "ATT4425";
				src: url("/modules/shared/templates/ATT4425.ttf") format("truetype");
				/* ATT4425 font created 2017-12-26 by Seth Morabito: https://loomcom.com/retrocomputing/ATT4425.ttf https://twitter.com/twylo/status/945827745417740293 */
			}
		</style>
		<!-- pcjs:sockets -->
	</head>
	<body>
		<!-- Template revision 0039 (increment this number prior to any Git push that should trigger a rebuild of all web pages) -->
		<div class="common">
			<div class="common-top">
				<div class="common-top-left">
					<h2><a href="/">PCjs Machines</a></h2>
				</div>
				<div class="common-top-right">
					<ul>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/apps/">Apps</a></li>
						<li><a href="/devices/">Devices</a></li>
						<li><a href="/disks/pcx86/">Disks</a></li>
						<li><a href="/docs/">Docs</a></li>
						<li><a href="/docs/about/">About</a></li>
					</ul>
				</div>
			</div>
			<div class="common-middle">
				<h4 style="margin-top: 0;">Directory of C:\<a href="/">PCJS.ORG</a><!-- pcjs:pcpath --></h4>
				<div class="common-sidebar">
					<!-- pcjs:dirlist -->
					<!-- pcjs:manifest -->
					<!-- pcjs:htmlfileLater("adsense.html") -->
				</div>
				<div class="common-main">
					<!-- pcjs:default("*", "common-image") -->
					<div class="common-bottom">
						<p class="common-reference"><!-- Bottom-left-hand stuff, if there was any, would go here --></p>
						<p class="common-copyright">
							<!-- When using AWS, the pcjs.org domain must redirect to www.pcjs.org, so let's avoid unnecessary redirects in any absolute URLs -->
							<span class="common-copyright"><a href="https://www.pcjs.org/">pcjs.org</a> © 2012-<!-- pcjs:year --> by <a href="https://jeffpar.com">@jeffpar</a></span><br/>
							<span class="common-copyright">The <a href="https://github.com/jeffpar/pcjs">PCjs Project</a> is released under <a href="https://gnu.org/licenses/gpl.html">GPLv3</a></span><br/>
							<span>Powered by <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>, <a href="http://vanilla-js.com/" target="_blank">Vanilla JS</a>, and <a href="https://github.com/jeffpar" target="_blank">GitHub</a></span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<script id="randomize" type="text/javascript">
			(function() {
				var p = document.getElementById('random');
				if (p) {
					var mags = ['BYTE-1975-11:98',
								'MSJ-1986-10:34', 	'MSJ-1987-05:90',
								'PCTJ-1983-07:210',	'PCTJ-1983-09:224',	'PCTJ-1983-11:238',
								'PCTJ-1984-01:214',	'PCTJ-1984-02:206',	'PCTJ-1984-03:216',	'PCTJ-1984-04:232',
								'PCTJ-1984-05:234',	'PCTJ-1984-06:230',	'PCTJ-1984-07:210',	'PCTJ-1984-08:214',
								'PCTJ-1984-09:215',	'PCTJ-1984-10:226',	'PCTJ-1984-11:228',	'PCTJ-1984-12:240',
								'PCTJ-1985-01:214',	'PCTJ-1985-02:194',	'PCTJ-1985-03:202',	'PCTJ-1985-04:204',
								'PCTJ-1985-05:244',	'PCTJ-1985-06:216',	'PCTJ-1985-07:184',	'PCTJ-1985-08:200',
								'PCTJ-1985-09:196',	'PCTJ-1985-10:204',	'PCTJ-1985-11:220',	'PCTJ-1985-12:218',
								'PCTJ-1986-01:212',	'PCTJ-1986-02:214',	'PCTJ-1986-03:220',	'PCTJ-1986-04:220',
								'PCTJ-1986-05:222',	'PCTJ-1986-06:222',	'PCTJ-1986-07:198',	'PCTJ-1986-08:212',
								'PCTJ-1986-09:230',	'PCTJ-1986-10:228',	'PCTJ-1986-11:228',	'PCTJ-1986-12:232',
								'PCTJ-1987-01:216',	'PCTJ-1987-02:222',	'PCTJ-1987-03:214',	'PCTJ-1987-04:218',
								'PCTJ-1987-05:240',	'PCTJ-1987-06:236',	'PCTJ-1987-07:230',	'PCTJ-1987-08:250',
								'PCTJ-1987-09:252',	'PCTJ-1987-10:231',	'PCTJ-1987-11:263',	'PCTJ-1987-12:242',
								'PCTJ-1988-01:200',	'PCTJ-1988-02:200',	'PCTJ-1988-03:182',
								'PCTJ-1988-05:196',	'PCTJ-1988-06:180',	'PCTJ-1988-07:164',	'PCTJ-1988-08:166',
								'PCTJ-1988-09:174',	'PCTJ-1988-10:170',	'PCTJ-1988-11:176',	'PCTJ-1988-12:168',
								'PCTJ-1989-04:148'
					];
					var p2 = document.createElement('p');
					p2.appendChild(document.createTextNode('In addition, you see a piece of paper lying on the floor.'));
					var div1 = document.createElement('div'); div1.setAttribute('class', 'common-image-gallery');
					var div2 = document.createElement('div'); div2.setAttribute('class', 'common-image-frame'); div1.appendChild(div2);
					var div3 = document.createElement('div'); div3.setAttribute('class', 'common-image-link'); div2.appendChild(div3);
					var mag = mags[Math.floor(Math.random() * mags.length)];
					var parts = mag.split(':'), issue = parts[0], page = Math.floor(Math.random() * parseInt(parts[1])) + 1;
					parts = mag.split('-');
					var name = parts[0].toLowerCase();
					var a = document.createElement('a'); a.setAttribute('href', '/pubs/pc/magazines/' + name + '/' + issue + '/#page-' + page); div3.appendChild(a);
					var img = document.createElement('img'); img.setAttribute('src', 'http://archive.pcjs.org/pubs/pc/magazines/' + name + '/' + issue + '/thumbs/' + issue + ' ' + page + '.jpeg'); img.setAttribute('width', '200'); a.appendChild(img);
					p.parentNode.insertBefore(p2, p.nextSibling);
					p2.parentNode.insertBefore(div1, p2.nextSibling)
				}
			})();
		</script>
		<!-- pcjs:htmlfile("analytics.html") -->
	</body>
</html>
