# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{BAS,bas}]
indent_style = space
indent_size = 8
trim_trailing_whitespace = true

[*.{ASM,INC,LST,MAC,NASM,asm,inc,lst,mac,nasm,d80,ASM.txt,INC.txt,LST.txt,MAC.txt,NASM.txt}]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true

[*.{C,CPP,H,c,cpp,h}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{php,xml,xsl,sh}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[modules/**.js]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[*.json]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.map]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
