[submodule "disks-demo"]
	path = disks-demo
	url = https://github.com/jeffpar/pcjs-demo-disks.git
[submodule "disks-game"]
	path = disks-game
	url = https://github.com/jeffpar/pcjs-game-disks.git
[submodule "disks-private"]
	path = disks-private
	url = https://github.com/jeffpar/pcjs-private-disks.git
[submodule "disks-cds/cds001"]
	path = disks-cds/cds001
	url = https://github.com/jeffpar/pcjs-cds001.git
