[submodule "pcjs-disks"]
	path = pcjs-disks
	url = https://github.com/jeffpar/pcjs-disks.git
[submodule "private-disks"]
	path = private-disks
	url = https://github.com/jeffpar/private-disks.git
[submodule "pcjs-games"]
	path = pcjs-games
	url = https://github.com/jeffpar/pcjs-games.git
