*.IMG
*.dsk
*.img
*.log
*.dump
*.heapsnapshot
.DS_Store
.buildpath
.idea
.project
.settings
node_modules
npm-debug.log
archive/
/books
/notes
/states
/videos
/web
private/
src/
tmp/
_site
.sass-cache
