{% assign include_width = "" %}
{% assign include_height = "" %}
{% if include.width %}
  {% capture include_width %} width="{{ include.width }}"{% endcapture %}
{% endif %}
{% if include.height %}
  {% capture include_height %} height="{{ include.height }}"{% endcapture %}
{% endif %}
<div class="screenshot-frame">
	<div class="screenshot-image">
	  {% if include.link %}
		<a href="{{ site.baseurl }}{{ include.link }}">
			<img src="{{ site.baseurl }}{{ include.src }}"{{ include_width }}{{ include_height }} alt="{{ include.title }}"/>
		</a>
	  {% else %}
		<img src="{{ site.baseurl }}{{ include.src }}"{{ include_width }}{{ include_height }} alt="{{ include.title }}"/>
	  {% endif %}
	</div>
	<span class="screenshot-label">{{ include.title }}</span>
</div>
