@CHARSET "UTF-8";

.page {
    margin: 2% 2%;
    padding: 2% 2%;
    min-width: 30em;
    overflow: auto;
    font-size: large;
    font-family: Helvetica, Arial, sans-serif;
    background: #303030;
    color: #ccc;

}
.page-header {
}
.page-header-title {
	text-align: center;

}
.page a {
    color: #7fc07f;
    text-decoration: none;
}
a.footlink, a.paralink {
	text-decoration: none;
}
a.footlink:link, a.paralink:link {
	color: blue;
}
a.footlink:visited, a.paralink:visited {
	color: blue;
}
.galleryitem {
	float: left;
	width: 200px;
}
.item {
	float: left;
	width: 2em;
	text-indent: 1em;
}
.list {
	margin-left: 3em;
	text-indent: 0;
	text-align: justify;
}
ul {
	list-style: none;
}
div.pnumber {
	float: left;
	width: 2em;
	text-indent: 1em;
}
div.pitem {
	margin-left: 10em;
}
p.indent, .justified p {
	text-indent: 2em;
	text-align: justify;
	line-height: 1.5em;
}
p.noindent {
	text-indent: 0;
	text-align: justify;
}
p.center, .center {
	text-align: center;
}
li.para {
	margin-top: 1em;
	margin-bottom: 1em;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
blockquote.tag {
	font-size: small;
	font-family: Monaco, Fixed, monospace;
	margin-top: 0;
	margin-bottom: 0;
}
.blockquote {
	padding-left: 1em;
	text-indent: 0;
	text-align: justify;
}
.italics {
	font-style: italic;
}
.medium {
	font-size: medium;
}
.small {
	font-size: x-small;
}
.smallcaps {
	font-variant: small-caps;
}
.strike {
	text-decoration: line-through;
}
.summation, .bracelist {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0.5ex;
	text-indent: 0;
}
.bracelist-symbol {
	font-size: 3em;
	vertical-align: -40%;
}
.summation .summation-lower, .summation .summation-upper, .bracelist-item {
	display: block;
	font-size: 75%;
	text-align: center;
}
.summation .summation-upper {
	margin-bottom: 0;
	margin-left: 0.8ex;
	font-style: italic;
}
.summation .summation-lower{
	margin-bottom: -0.6ex;
	font-style: italic;
}
.summation .summation-symbol {
	font-size: 2em;
}
p sup {
	vertical-align: baseline;
	position: relative;
	bottom: .5em;
	font-size: small;
}
p sub {
	vertical-align: baseline;
	position: relative;
	bottom: -.5em;
	font-size: small;
}
.footnote {
	font-size: medium;
	text-indent: 1em;
	text-align: justify;
	margin-top: .5em;
}
.image-right {
	float: right;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.image-caption {
	font-size: small;
	text-align: center;
}